
# extensions
*.dll 
*.exe

# Game Folders
ai2/
anim/
avi/
cameratracks/
certificates/
# Campaigns definitions
# data/
data-dev/
dlc-frontend/
docs/
EmptySteamDepot/
fonts/
god\ powers/
Language/
launcher_res/
Logs/
materials/
models/
modelsfx/
mods/
ppdata/
# Random maps
# rm2/
savegame/
# Campaigns binaries
# scenario/
Screenshots/
shaders/
sound/
startup/
steam/
textures/
# tools I developed
# tools/
trigger2/
twitchdll/
Users/
266840_install.vdf
AOM\ EULA\ Chinese-Traditional.rtf
AOM\ EULA\ English.rtf
AOM\ EULA\ French.rtf
AOM\ EULA\ German.rtf
AOM\ EULA\ Italian.rtf
AOM\ EULA\ Japanese.rtf
AOM\ EULA\ Korean.rtf
AOM\ EULA\ Portuguese-Brazil.rtf
AOM\ EULA\ Spanish.rtf
AoMX.exe
avutil-ttv-51.dll
binkw32.dll
curl-ca-bundle.crt
granny.dll
Launcher.exe
libcurl.dll
libmp3lame-ttv.dll
loadingx720.bmp
loadingx900.bmp
loadingx1080.bmp
movieplayer.exe
mp3dec.asi
mss32.dll
msvcrt.dll
Readmex.rtf
rockalldll.dll
splashx.bmp
steam_api.dll
STPENUM.DLL
swresample-ttv-0.dll
twitchsdk_32_release.dll
zlib1.dll
zlibwapi.dll

# .gitignore rm2
rm2/version1.0/
rm2/version2.0/
# rm2/version2.4
rm2/version2.7/
rm2/version2.8/
rm2/version2.4/archipelago.xs
rm2/version2.4/erebus.xs
rm2/version2.4/highland.xs
rm2/version2.4/islands.xs
rm2/version2.4/king\ of\ the\ hill.xs
rm2/version2.4/land\ unknown.xs
rm2/version2.4/marsh.xs
rm2/version2.4/mediterranean.xs
rm2/version2.4/midgard.xs
rm2/version2.4/river\ nile.xs
rm2/version2.4/team\ migration.xs
rm2/version2.4/the\ unknown.xs
rm2/version2.4/vinlandsaga.xs
rm2/version2.4/watering hole.xs

# .gitignore data 
data/additional.txt
data/alfheim.lgt
data/alfheim2.lgt
data/anatolia.lgt
data/armybanner.xml
data/bloom.pfx
data/buttonsets.xml
data/clifftypes1.0.xml
data/clifftypes2.0.xml
data/cloudexample.lgt
data/combatcomparison.xml
data/commandpanel.xml
data/corpsedecay.xml
data/credits.crx
data/dawn.lgt
data/default.lgt
data/DefaultKeyMap1.0.xml
data/DefaultKeyMap1.7.xml
data/DefaultKeyMap1.9.xml
data/DefaultKeyMap2.0.xml
data/DefaultKeyMap2.1.xml
data/DefaultKeyMap2.2.xml
data/DefaultKeyMap2.5.xml
data/DefaultKeyMap2.7.xml
data/DefaultKeyMap2.8.xml
data/dialogtest.xml
data/dlc1 campaign.cpx
data/dusk.lgt
data/dusk2.lgt
data/eclipse.lgt
data/erebus.lgt
data/faketechtreecosts.xml
data/fimbulwinter.lgt
data/forest1.0.xml
data/forest2.0.xml
data/ghost lake.lgt
data/hades.lgt
data/hades2.lgt
data/heronames.xml
data/icons.xml
data/lastGameSettings.xml
data/learn\ to\ play.cpn
data/learn\ to\ play.xml
data/lightning.xml
data/main\ campaign.cpn
data/main\ campaign.xml
data/majorgods1.0.xml
data/majorgods2.0.xml
data/meteor.xml
data/minicampaign.cpn
data/minimapbackground.tga
data/minorgods1.0.xml
data/minorgods2.0.xml
data/moods.txt
data/night.lgt
data/night2.lgt
data/noon.lgt
data/objectives.xml
data/olympus.lgt
data/playercolors.xml
data/predefinedchats.xml
data/proto1.0.xml
data/proto1.0-for-2.0.xml
data/proto1.5.xml
data/proto1.7.xml
data/proto1.8.xml
data/proto1.9.xml
data/proto1.10.xml
data/proto1.11.xml
data/proto1.12.xml
data/proto2.0.xml
data/proto2.1.xml
data/proto2.2.xml
data/proto2.4.xml
data/proto2.5.xml
data/proto2.7.xml
data/proto2.8.xml
data/protoanimextents1.0.dat
data/protoanimextents2.2.dat
data/protoanimextents2.8.dat
data/prwordlist.xml
data/RecentFiles.xml
data/relics.xml
data/relics2.xml
data/resources.xml
data/skies.xml
data/SkyBox\ alfheim.lgt
data/SkyBox\ alfheim2.lgt
data/SkyBox\ anatolia.lgt
data/SkyBox\ cloudexample.lgt
data/SkyBox\ dawn.lgt
data/SkyBox\ default.lgt
data/SkyBox\ dusk.lgt
data/SkyBox\ dusk2.lgt
data/SkyBox\ eclipse.lgt
data/SkyBox\ erebus.lgt
data/SkyBox\ fimbulwinter.lgt
data/SkyBox\ ghost lake.lgt
data/SkyBox\ hades.lgt
data/SkyBox\ hades2.lgt
data/SkyBox\ night.lgt
data/SkyBox\ night2.lgt
data/SkyBox\ noon.lgt
data/SkyBox\ olympus.lgt
data/SkyBox\ td0.lgt
data/SkyBox\ td1.lgt
data/SkyBox\ td2.lgt
data/SkyBox\ td3.lgt
data/SkyBox\ td4.lgt
data/SkyBox\ td5.lgt
data/SkyBox\ td6.lgt
data/SkyBox\ td7.lgt
data/td0.lgt
data/td1.lgt
data/td2.lgt
data/td3.lgt
data/td4.lgt
data/td5.lgt
data/td6.lgt
data/td7.lgt
data/techtree1.0.xml
data/techtree1.5.xml
data/techtree1.8.xml
data/techtree1.9.xml
data/techtree1.10.xml
data/techtree1.11.xml
data/techtree1.12.xml
data/techtree2.0.xml
data/techtree2.1.xml
data/techtree2.2.xml
data/techtree2.4.xml
data/techtree2.5.xml
data/techtree2.7.xml
data/techtree2.8.xml
data/terrain1.tga
data/test\ campaign.xml
data/tonemap.pfx
data/uiaiprompt.xml
data/uialternatesdialog.xml
data/uianimationdlg.xml
data/uiarenasetup.xml
data/uiarmyedit.xml
data/uiautopatcherdialog.xml
data/uicameraeditor.xml
data/uicampaign.xml
data/uicampaigneditor.xml
data/uicampaignloading.xml
data/uicampaignsetup.xml
data/uichatdialog.xml
data/uicliffdialog.xml
data/uicombatcomparison.xml
data/uicustomizeopp.xml
data/uidefaultloading.xml
data/uieditormenu.xml
data/uieditorpalettes.xml
data/uieditunitdlg.xml
data/uieula.xml
data/uifaketechtree.xml
data/uifilemanager.xml
data/uifriendsdialogs.xml
data/uigamelist.xml
data/uigamepalettes.xml
data/uigamesettingsdialog.xml
data/uigenericentrydialog.xml
data/uigodbuffetdialog.xml
data/uigodpicker.xml
data/uihelpdialog.xml
data/uihotkeys.xml
data/uihotkeysetup.xml
data/uiimagedialog.xml
data/uiingamemsg1.xml
data/uiingamemsg2.xml
data/uiingamemsg3.xml
data/uiingamemsgdialog.xml
data/uilaunchscreen.xml
data/uilayout.xml
data/uiloadingblackbackground.xml
data/uilowdetailbackground.xml
data/uimain.xml
data/uimainobservermode.xml
data/uimainobservermodecontainer.xml
data/uimappicker.xml
data/uimessagedialogs.xml
data/uimodmanager.xml
data/uimodmanagerpublishdialog.xml
data/uimotd.xml
data/uimpcustom.xml
data/uimpeso.xml
data/uimpfriendslist.xml
data/uimphelp.xml
data/uimphostdialog.xml
data/uimphub.xml
data/uimplanip.xml
data/uimplaunchscreen.xml
data/uimplogin.xml
data/uimpmodconflict.xml
data/uimpothersettings.xml
data/uimppassport.xml
data/uimppassporttaken.xml
data/uimpsetupfinal.xml
data/uimpvotedialog.xml
data/uimsgnewmods.xml
data/uinewdialogs.xml
data/uiobjectives.xml
data/uiobjectivesdialog.xml
data/uioptions.xml
data/uiothersettings.xml
data/uiplayerlogin.xml
data/uiplayerstatusdialog.xml
data/uiplayerstatusdialog2.xml
data/uipostgamescreen.xml
data/uipregame.xml
data/uipregamemptest.xml
data/uipregamemsg1.xml
data/uipregamemsg2.xml
data/uipregamemsgdialog.xml
data/uipregamenew.xml
data/uipregamestress.xml
data/uiprofileselect.xml
data/uireceive.xml
data/uireceiveconnect.xml
data/uirestricteddlc.xml
data/uirmgeneration.xml
data/uiroomdialogs.xml
data/uisample.xml
data/uiscensetdlg.xml
data/uisessionconnect.xml
data/uisingleplayersetup.xml
data/uisounddlg.xml
data/uisoundeditdlg.xml
data/uisoundsetdlg.xml
data/uisprmsetup.xml
data/uistatsupload.xml
data/uistatusmsg.xml
data/uistrategicmap.xml
data/uitechtree.xml
data/uitributedlg.xml
data/uitriggereditor.xml
data/uitriggroupeditor.xml
data/uiwaterdialog.xml
data/uixsdebugger.xml
data/unitaitypes1.0.txt
data/unitaitypes2.0.txt
data/unittransform1.0.xml
data/unittransform2.0.xml
data/waterbodies1.0.xml
data/waterbodies2.0.xml
data/xpack\ campaign.cpx

# Scenario
MC/
spc/
xspc/
yspc/
__Chinese_Demo_Level.scx
__PAX_Demo_Level.scx
_all_units.scx
~aom_pgs_atlantis.scx
~aom_pgs_egypt.scx
~aom_pgs_greece.scx
~aom_pgs_midgard.scx
~aom_pgs_olympus.scx
~aom_pgs_swamp.scx
~aom_pgs_tundra.scx
~aom_pgs_underworld.scx
~aom_pgs_water.scn
~aom_pgs_water.scx


# tools/
TextureCompiler_v2/
TextureCompiler.exe
TextureExtractor.exe

# new textures
!textures/adria
